<div class="card edit-rfp-comp">
  <button class="btn btn-danger" (click)="onNoClick()"><i class="fa fa-times"></i></button>
  <div class="modal-dialog admin-popup">
    
    <div class="modal-content popupmodel">
      <div class="modal-body" >
          <!-- <div class="popup-close-button" data-dismiss="modal">X</div> -->
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 border" >
            <p class=" modal-v2__main-heading"> {{data.title}}</p>
          </div>
          <form class="sh-signup-form-fix edit-rfp-form">

            <div class="col-md-6 col-sm-6">
              <div class="input-group">
                <mat-form-field>
                  <input matInput placeholder="Title" name="title" [(ngModel)]="data.title" required  />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6" hidden=true>
              <div class="input-group" >

                <mat-form-field>
                  <input matInput placeholder="RFP Number"  name="rfp_number" [(ngModel)]="data.rfp_number"
                     />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="RFP Key" name="rfpkey" [(ngModel)]="data.rfpkey"  />

                </mat-form-field>
              </div>
            </div>
            
            <div class="col-md-6 col-sm-6">
              <div class="input-group">
                <mat-form-field>
                
                  <mat-select [(ngModel)]="data.state" name="states"  placeholder="State" >
                    <input class="inp" type="text" [(ngModel)]="statsearch" [ngModelOptions]="{standalone: true}"
                        class="search-allstates" placeholder="Search By State" >
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                 
                    <mat-option *ngFor="let item of Statess | filter:statsearch" [value]="item.state">{{item.state}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Agency" name="agency" [(ngModel)]="data.agency"  />
                 
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                 
                  <mat-select [(ngModel)]="data.agency" name="agency" placeholder="Select Agency">
                    <input class="inp" type="text" [(ngModel)]="agensearch" [ngModelOptions]="{standalone: true}"
                        class="search-allstates" placeholder="Search By Agency">
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                 
                    <mat-option *ngFor="let item of agen | filter:agensearch" [value]="item.agency">{{item.agency}}</mat-option>
                    <mat-option value='other'>Other</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Category"  name="category" [(ngModel)]="data.category"  (change)="subcategory(data.category)"/>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <mat-select  [(ngModel)]="data.category"  name="category" placeholder="Select Category" (change)="subcategory(data.category)"  multiple>
                    <input class="inp" type="text" [(ngModel)]="catsearch" [ngModelOptions]="{standalone: true}"
                        placeholder="Search By Category" class="search-allstates" >
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                   
                    <mat-option *ngFor="let catitem of cat | filter:catsearch" [value]="catitem.category_name">{{catitem.category_name}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field class="category-edit-rfp">
                  <input matInput placeholder="Sub Category" name="subcat" [(ngModel)]="data.subcat"  />
                 
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field class="category-edit-rfp">
                 
                  <mat-select  [(ngModel)]="data.subcat"  name="subcat" placeholder="Select Sub Category"   multiple>
                    <input class="inp" type="text" [(ngModel)]="subcatsearch" [ngModelOptions]="{standalone: true}"
                        placeholder="Search By Sub Category" class="search-allstates" >
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                 
                    <mat-option *ngFor="let catitem of sub_categories | filter:subcatsearch" [value]="catitem.subcategory_name">{{catitem.subcategory_name}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="seoTitleUrl" name="seoTitleUrl" [(ngModel)]="data.seoTitleUrl" />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Bid Type" name="bid_type" [(ngModel)]="data.bid_type"  />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Agency Type" name="agency_type" [(ngModel)]="data.agency_type"  />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="City or County" name="city_or_county" [(ngModel)]="data.city_or_county"  />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Open Rfp" name="open_rfp" [(ngModel)]="data.open_rfp" />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="City" name="city" [(ngModel)]="data.city"/>

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">

                <mat-form-field>
                  <!-- <input matInput placeholder="Posted Date" name="date_entered" value="{{data.date_entered}}" #updateddate_entered /> -->
                    <input matInput [matDatepicker]="startPicker" (focus)="startPicker.open()" name="date_entered" [(ngModel)]="data.date_entered"  placeholder="Posted Date" />
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker color="warn"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">

                <mat-form-field>
                  <!-- <input matInput placeholder="Submission Date" name="due_date" value="{{data.due_date}}" #u  pdateddue_date /> -->
                  
                    <input matInput [matDatepicker]="startPicker1" (focus)="startPicker1.open()" name="due_date" [(ngModel)]="data.due_date"  placeholder="Submission Date" />
                    <mat-datepicker-toggle matSuffix [for]="startPicker1"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker1 color="warn"></mat-datepicker>
                </mat-form-field>
             
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">
                  <span class="btn-file margin-top-10">Upload File
                      <input (change)="onChange($event)"  type="file"  required> </span>
                <mat-form-field >

                  <input matInput placeholder="Web Information PDF" name="web_info" [(ngModel)]="data.web_infoo" 
                   />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6" hidden=true>
              <div class="input-group margin-zero1" >

                <mat-form-field>
                  <input matInput placeholder="Rfp Reference"  name="rfp_reference" [(ngModel)]="data.rfp_reference"
                     />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="input-group">
                  <ckeditor [(ngModel)]="data.descriptionTag" name="descriptionTag" > {{data.descriptionTag}}
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'"  [icon]="'save.png'"
                      [label]="'Save Document'" [toolbar]="'clipboard,1'">
                    </ckbutton></ckeditor>
  
                </div>
              </div>
            <div class="col-md-12 col-sm-12">

              <div class=" text-center" >
                <button type="submit" class="btn btn-fill" (click)="editClick(data.title,data.rfp_number,data.rfpkey,data.descriptionTag,data.state,data.agency,data.date_entered,data.due_date,data.rfp_reference,data.category,data.subcat,data.seoTitleUrl,data.bid_type,data.agency_type,data.city_or_county,data.city,data.web_info,data.open_rfp)"
                  data-dismiss="modal">Update</button>

                <button type="button" class="btn btn-fill" (click)="onNoClick()">Cancel</button>

              </div>
            </div>


          </form>
        </div>
      </div>

    </div>
  </div>
</div>