<div class="card">
  <div class="modal-dialog admin-popup">
    
    <div class="modal-content popupmodel">
      <div class="modal-body" >
          <div class="popup-close-button" data-dismiss="modal">X</div>
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " style="margin-bottom:10px;border-bottom: 1px #4f4f4f solid;">
            <p class=" modal-v2__main-heading"> {{data.title}}</p>

          </div>

          <form class="sh-signup-form-fix">

            <div class="col-md-6 col-sm-6">
              <div class="input-group">
                <mat-form-field>
                  <input matInput placeholder="Title" name="title" value="{{data.title}}" required #updatedtitle />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group" >

                <mat-form-field>
                  <input matInput placeholder="RFP Number"  name="rfp_number" value="{{data.rfp_number}}"
                    #updatedrfp_number />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="RFP Key" name="rfpkey" value="{{data.rfpkey}}" #uprfpkey />

                </mat-form-field>
              </div>
            </div>
            
            <div class="col-md-6 col-sm-6">
              <div class="input-group">
                <mat-form-field>
                
                  <mat-select [(ngModel)]="data.states" name="states"  placeholder="Search By State" #updatedstates>
                    <input class="inp" type="text" [(ngModel)]="statsearch" [ngModelOptions]="{standalone: true}"
                        class="search-allstates" placeholder="Search By State" style="width: 100%; border-radius: 7px;">
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                    <mat-option value='all'>Select All</mat-option>
                    <mat-option value='Federal'>Federal</mat-option>
                    <mat-option *ngFor="let item of Statess | filter:statsearch" [value]="item.state">{{item.state}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <!-- <input matInput placeholder="Agency" name="agency" value="{{data.agency}}" #updatedagency /> -->
                  <mat-select [(ngModel)]="data.agency" name="agency" placeholder="Search By Agency" #updatedagency>
                    <input class="inp" type="text" [(ngModel)]="agensearch" [ngModelOptions]="{standalone: true}"
                        class="search-allstates" placeholder="Search By Agency" style="width: 100%; border-radius: 7px">
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                    <mat-option value='all'>Select All</mat-option>
                    <mat-option *ngFor="let item of agen | filter:agensearch" [value]="item.agency">{{item.agency}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <!-- <input matInput placeholder="Category" name="category" value="{{data.category}}" #updatedcategory /> -->
                  <mat-select [(ngModel)]=data.category name="category" placeholder="Search By Category" #updatedcategory >
                    <input class="inp" type="text" [(ngModel)]="catsearch" [ngModelOptions]="{standalone: true}"
                        placeholder="Search By Category" class="search-allstates" style="width: 100%; border-radius: 7px">
                    <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
                    <mat-option value='all'>Select All</mat-option>
                    <mat-option *ngFor="let catitem of cat | filter:catsearch" [value]="catitem.category">{{catitem.category}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Sub Category" name="subcat" value="{{data.subcat}}" #updatedsubcat />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="seoTitleUrl" name="seoTitleUrl" value="{{data.seoTitleUrl}}" #updatedseoTitleUrl />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Bid Type" name="bid_type" value="{{data.bid_type}}" #updatedbid_type />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Agency Type" name="agency_type" value="{{data.agency_type}}" #updatedagency_type />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="City or County" name="city_or_county" value="{{data.city_or_county}}" #updatedcity_or_county />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Open Rfp" name="open_rfp" value="{{data.open_rfp}}" #updatedopen_rfp />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="City" name="city" value="{{data.city}}" #updatedcity />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">

                <mat-form-field>
                  <input matInput placeholder="Posted Date" name="date_entered" value="{{data.date_entered}}"
                    #updateddate_entered />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">

                <mat-form-field>
                  <input matInput placeholder="Submission Date" name="due_date" value="{{data.due_date}}" #updateddue_date />

                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">
                 
                <mat-form-field >

                  <input matInput placeholder="Web Information PDF" name="web_info" value="{{data.web_infoo}}" #updatedweb_info
                   />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1" >

                <mat-form-field>
                  <input matInput placeholder="Rfp Reference"  name="rfp_reference" value="{{data.rfp_reference}}"
                    #updatedrfp_reference />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="input-group">
                  <ckeditor [(ngModel)]="descriptionTag" name="descriptionTag"> {{data.descriptionTag}}
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'"  [icon]="'save.png'"
                      [label]="'Save Document'" [toolbar]="'clipboard,1'">
                    </ckbutton></ckeditor>
  
                </div>
              </div>
            <div class="col-md-12 col-sm-12">

              <div class=" text-center" style="margin-top: -21px;">
                <button type="submit" class="btn btn-fill" (click)="editClick(updatedtitle.value,updatedrfp_number.value,uprfpkey.value,descriptionTag,updatedstates.value,updatedagency.value,updateddate_entered.value,updateddue_date.value,updatedrfp_reference.value,updatedcategory.value,updatedsubcat.value,updatedseoTitleUrl.value,updatedbid_type.value,updatedagency_type.value,updatedcity_or_county.value,updatedcity.value,updatedweb_info.value,updatedopen_rfp.value)"
                  data-dismiss="modal">Update</button>

                <button type="button" class="btn btn-fill" data-dismiss="modal">Cancel</button>

              </div>
            </div>


          </form>
        </div>
      </div>

    </div>
  </div>
</div>